
body{
    background-color: rgb(202, 223, 255)
    color rgb(0, 0, 0);
}
h1{
    color: rgb(2, 217, 255);
}
section{
    background: rgb(202, 223, 255);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: left;
    justify-content: left;
}